@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  max-height: 100%;
  margin: 0 auto;
  padding: 0 2rem 0 2rem;
  text-align: center;
}

body{
  color: brown;
  background-color: white;
}

h1{

}

h2{

}

h3{

}

h4{

}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.nav-link {
  padding: 10px;
  color: black;
  transition: color 0.3s, font-weight 0.3s;
}

.nav-link-active {
  color: violet;
  font-weight: bold;
}
